@font-face {
  font-family: 'ea';
  src:  url('fonts/ea.eot?n6zpj2');
  src:  url('fonts/ea.eot?n6zpj2#iefix') format('embedded-opentype'),
    url('fonts/ea.ttf?n6zpj2') format('truetype'),
    url('fonts/ea.woff?n6zpj2') format('woff'),
    url('fonts/ea.svg?n6zpj2#ea') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ea {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ea' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ea-face-angry1:before {
  content: "\eac9";
}
.ea-face-dizzy1:before {
  content: "\eaca";
}
.ea-face-flushed1:before {
  content: "\eacb";
}
.ea-face-frown-open1:before {
  content: "\eacc";
}
.ea-face-frown1:before {
  content: "\eacd";
}
.ea-face-grimace1:before {
  content: "\eace";
}
.ea-face-grin-beam-sweat1:before {
  content: "\eacf";
}
.ea-face-grin-beam1:before {
  content: "\ead0";
}
.ea-face-grin-hearts1:before {
  content: "\ead1";
}
.ea-face-grin-squint-tears1:before {
  content: "\ead2";
}
.ea-face-grin-squint1:before {
  content: "\ead3";
}
.ea-face-grin-stars1:before {
  content: "\ead4";
}
.ea-face-grin-tears1:before {
  content: "\ead5";
}
.ea-face-grin-tongue-squint1:before {
  content: "\ead6";
}
.ea-face-grin-tongue-wink1:before {
  content: "\ead7";
}
.ea-face-grin-tongue1:before {
  content: "\ead8";
}
.ea-face-grin-wide1:before {
  content: "\ead9";
}
.ea-face-grin-wink1:before {
  content: "\eada";
}
.ea-face-grin1:before {
  content: "\eadb";
}
.ea-face-kiss-beam1:before {
  content: "\eadc";
}
.ea-face-kiss-wink-heart1:before {
  content: "\eadd";
}
.ea-face-kiss1:before {
  content: "\eade";
}
.ea-face-laugh-beam1:before {
  content: "\eadf";
}
.ea-face-laugh-squint1:before {
  content: "\eae0";
}
.ea-face-laugh-wink1:before {
  content: "\eae1";
}
.ea-face-laugh1:before {
  content: "\eae2";
}
.ea-face-meh-blank1:before {
  content: "\eae3";
}
.ea-face-meh1:before {
  content: "\eae4";
}
.ea-face-rolling-eyes1:before {
  content: "\eae5";
}
.ea-face-sad-cry1:before {
  content: "\eae6";
}
.ea-face-sad-tear1:before {
  content: "\eae7";
}
.ea-face-smile-beam1:before {
  content: "\eae8";
}
.ea-face-smile-wink1:before {
  content: "\eae9";
}
.ea-face-smile1:before {
  content: "\eaea";
}
.ea-face-surprise1:before {
  content: "\eaeb";
}
.ea-face-tired1:before {
  content: "\eaec";
}
.ea-hand-peace1:before {
  content: "\eaed";
}
.ea-hand-point-down:before {
  content: "\eaee";
}
.ea-hand-point-up1:before {
  content: "\eaef";
}
.ea-hand-pointer1:before {
  content: "\eaf0";
}
.ea-hand1:before {
  content: "\eaf1";
}
.ea-heart1:before {
  content: "\eaf2";
}
.ea-thumbs-down1:before {
  content: "\eaf3";
}
.ea-thumbs-up1:before {
  content: "\eaf4";
}
.ea-check:before {
  content: "\eaf5";
}
.ea-face-angry:before {
  content: "\eaf6";
}
.ea-face-dizzy:before {
  content: "\eaf7";
}
.ea-face-flushed:before {
  content: "\eaf8";
}
.ea-face-frown-open:before {
  content: "\eaf9";
}
.ea-face-frown:before {
  content: "\eafa";
}
.ea-face-grimace:before {
  content: "\eafb";
}
.ea-face-grin-beam-sweat:before {
  content: "\eafc";
}
.ea-face-grin-beam:before {
  content: "\eafd";
}
.ea-face-grin-hearts:before {
  content: "\eafe";
}
.ea-face-grin-squint-tears:before {
  content: "\eaff";
}
.ea-face-grin-squint:before {
  content: "\eb00";
}
.ea-face-grin-stars:before {
  content: "\eb01";
}
.ea-face-grin-tears:before {
  content: "\eb02";
}
.ea-face-grin-tongue-squint:before {
  content: "\eb03";
}
.ea-face-grin-tongue-wink:before {
  content: "\eb04";
}
.ea-face-grin-tongue:before {
  content: "\eb05";
}
.ea-face-grin-wide:before {
  content: "\eb06";
}
.ea-face-grin-wink:before {
  content: "\eb07";
}
.ea-face-grin:before {
  content: "\eb08";
}
.ea-face-kiss-beam:before {
  content: "\eb09";
}
.ea-face-kiss-wink-heart:before {
  content: "\eb0a";
}
.ea-face-kiss:before {
  content: "\eb0b";
}
.ea-face-laugh-beam:before {
  content: "\eb0c";
}
.ea-face-laugh-squint:before {
  content: "\eb0d";
}
.ea-face-laugh-wink:before {
  content: "\eb0e";
}
.ea-face-laugh:before {
  content: "\eb0f";
}
.ea-face-meh-blank:before {
  content: "\eb10";
}
.ea-face-meh:before {
  content: "\eb11";
}
.ea-face-rolling-eyes:before {
  content: "\eb12";
}
.ea-face-sad-cry:before {
  content: "\eb13";
}
.ea-face-sad-tear:before {
  content: "\eb14";
}
.ea-face-smile-beam:before {
  content: "\eb15";
}
.ea-face-smile-wink:before {
  content: "\eb16";
}
.ea-face-smile:before {
  content: "\eb17";
}
.ea-face-surprise:before {
  content: "\eb18";
}
.ea-face-tired:before {
  content: "\eb19";
}
.ea-hand-dots:before {
  content: "\eb1a";
}
.ea-hand-fist:before {
  content: "\eb1b";
}
.ea-hand-holding-dollar:before {
  content: "\eb1c";
}
.ea-hand-holding-droplet:before {
  content: "\eb1d";
}
.ea-hand-holding-hand:before {
  content: "\eb1e";
}
.ea-hand-holding-heart:before {
  content: "\eb1f";
}
.ea-hand-holding-medical:before {
  content: "\eb20";
}
.ea-hand-holding:before {
  content: "\eb21";
}
.ea-hand-lizard:before {
  content: "\eb22";
}
.ea-hand-middle-finger:before {
  content: "\eb23";
}
.ea-hand-peace:before {
  content: "\eb24";
}
.ea-hand-point-up:before {
  content: "\eb25";
}
.ea-hand-pointer:before {
  content: "\eb26";
}
.ea-hand-scissors:before {
  content: "\eb27";
}
.ea-hand-sparkles:before {
  content: "\eb28";
}
.ea-hand-spock:before {
  content: "\eb29";
}
.ea-hand:before {
  content: "\eb2a";
}
.ea-heart-circle-bolt:before {
  content: "\eb2b";
}
.ea-heart-circle-check:before {
  content: "\eb2c";
}
.ea-heart-circle-exclamation:before {
  content: "\eb2d";
}
.ea-heart-circle-minus:before {
  content: "\eb2e";
}
.ea-heart-circle-plus:before {
  content: "\eb2f";
}
.ea-heart-circle-xmark:before {
  content: "\eb30";
}
.ea-heart-crack:before {
  content: "\eb31";
}
.ea-heart-pulse:before {
  content: "\eb32";
}
.ea-heart:before {
  content: "\eb33";
}
.ea-thumbs-down:before {
  content: "\eb34";
}
.ea-thumbs-up:before {
  content: "\eb35";
}
.ea-square-x-twitter:before {
  content: "\eb36";
}
.ea-x-twitter:before {
  content: "\eb37";
}
.ea-px:before {
  content: "\e900";
}
.ea-accessible-icon:before {
  content: "\e901";
}
.ea-accusoft:before {
  content: "\e902";
}
.ea-acquisitions-incorporated:before {
  content: "\e903";
}
.ea-adn:before {
  content: "\e904";
}
.ea-adversal:before {
  content: "\e905";
}
.ea-affiliatetheme:before {
  content: "\e906";
}
.ea-airbnb:before {
  content: "\e907";
}
.ea-algolia:before {
  content: "\e908";
}
.ea-alipay:before {
  content: "\e909";
}
.ea-amazon-pay:before {
  content: "\e90a";
}
.ea-amazon:before {
  content: "\e90b";
}
.ea-amilia:before {
  content: "\e90c";
}
.ea-android:before {
  content: "\e90d";
}
.ea-angellist:before {
  content: "\e90e";
}
.ea-angrycreative:before {
  content: "\e90f";
}
.ea-angular:before {
  content: "\e910";
}
.ea-app-store-ios:before {
  content: "\e911";
}
.ea-app-store:before {
  content: "\e912";
}
.ea-apper:before {
  content: "\e913";
}
.ea-apple-pay:before {
  content: "\e914";
}
.ea-apple:before {
  content: "\e915";
}
.ea-artstation:before {
  content: "\e916";
}
.ea-asymmetrik:before {
  content: "\e917";
}
.ea-atlassian:before {
  content: "\e918";
}
.ea-audible:before {
  content: "\e919";
}
.ea-autoprefixer:before {
  content: "\e91a";
}
.ea-avianex:before {
  content: "\e91b";
}
.ea-aviato:before {
  content: "\e91c";
}
.ea-aws:before {
  content: "\e91d";
}
.ea-bandcamp:before {
  content: "\e91e";
}
.ea-battle-net:before {
  content: "\e91f";
}
.ea-behance-square:before {
  content: "\e920";
}
.ea-behance:before {
  content: "\e921";
}
.ea-bimobject:before {
  content: "\e922";
}
.ea-bitbucket:before {
  content: "\e923";
}
.ea-bitcoin:before {
  content: "\e924";
}
.ea-bity:before {
  content: "\e925";
}
.ea-black-tie:before {
  content: "\e926";
}
.ea-blackberry:before {
  content: "\e927";
}
.ea-blogger-b:before {
  content: "\e928";
}
.ea-blogger:before {
  content: "\e929";
}
.ea-bluetooth-b:before {
  content: "\e92a";
}
.ea-bluetooth:before {
  content: "\e92b";
}
.ea-bootstrap:before {
  content: "\e92c";
}
.ea-btc:before {
  content: "\e92d";
}
.ea-buffer:before {
  content: "\e92e";
}
.ea-buromobelexperte:before {
  content: "\e92f";
}
.ea-buy-n-large:before {
  content: "\e930";
}
.ea-buysellads:before {
  content: "\e931";
}
.ea-canadian-maple-leaf:before {
  content: "\e932";
}
.ea-cc-amazon-pay:before {
  content: "\e933";
}
.ea-cc-amex:before {
  content: "\e934";
}
.ea-cc-apple-pay:before {
  content: "\e935";
}
.ea-cc-diners-club:before {
  content: "\e936";
}
.ea-cc-discover:before {
  content: "\e937";
}
.ea-cc-jcb:before {
  content: "\e938";
}
.ea-cc-mastercard:before {
  content: "\e939";
}
.ea-cc-paypal:before {
  content: "\e93a";
}
.ea-cc-stripe:before {
  content: "\e93b";
}
.ea-cc-visa:before {
  content: "\e93c";
}
.ea-centercode:before {
  content: "\e93d";
}
.ea-centos:before {
  content: "\e93e";
}
.ea-chrome:before {
  content: "\e93f";
}
.ea-chromecast:before {
  content: "\e940";
}
.ea-cloudflare:before {
  content: "\e941";
}
.ea-cloudscale:before {
  content: "\e942";
}
.ea-cloudsmith:before {
  content: "\e943";
}
.ea-cloudversify:before {
  content: "\e944";
}
.ea-codepen:before {
  content: "\e945";
}
.ea-codiepie:before {
  content: "\e946";
}
.ea-confluence:before {
  content: "\e947";
}
.ea-connectdevelop:before {
  content: "\e948";
}
.ea-contao:before {
  content: "\e949";
}
.ea-cotton-bureau:before {
  content: "\e94a";
}
.ea-cpanel:before {
  content: "\e94b";
}
.ea-creative-commons-by:before {
  content: "\e94c";
}
.ea-creative-commons-nc-eu:before {
  content: "\e94d";
}
.ea-creative-commons-nc-jp:before {
  content: "\e94e";
}
.ea-creative-commons-nc:before {
  content: "\e94f";
}
.ea-creative-commons-nd:before {
  content: "\e950";
}
.ea-creative-commons-pd-alt:before {
  content: "\e951";
}
.ea-creative-commons-pd:before {
  content: "\e952";
}
.ea-creative-commons-remix:before {
  content: "\e953";
}
.ea-creative-commons-sa:before {
  content: "\e954";
}
.ea-creative-commons-sampling-plus:before {
  content: "\e955";
}
.ea-creative-commons-sampling:before {
  content: "\e956";
}
.ea-creative-commons-share:before {
  content: "\e957";
}
.ea-creative-commons-zero:before {
  content: "\e958";
}
.ea-creative-commons:before {
  content: "\e959";
}
.ea-critical-role:before {
  content: "\e95a";
}
.ea-css3-alt:before {
  content: "\e95b";
}
.ea-css3:before {
  content: "\e95c";
}
.ea-cuttlefish:before {
  content: "\e95d";
}
.ea-d-and-d-beyond:before {
  content: "\e95e";
}
.ea-d-and-d:before {
  content: "\e95f";
}
.ea-dailymotion:before {
  content: "\e960";
}
.ea-dashcube:before {
  content: "\e961";
}
.ea-deezer:before {
  content: "\e962";
}
.ea-delicious:before {
  content: "\e963";
}
.ea-deploydog:before {
  content: "\e964";
}
.ea-deskpro:before {
  content: "\e965";
}
.ea-dev:before {
  content: "\e966";
}
.ea-deviantart:before {
  content: "\e967";
}
.ea-dhl:before {
  content: "\e968";
}
.ea-diaspora:before {
  content: "\e969";
}
.ea-digg:before {
  content: "\e96a";
}
.ea-digital-ocean:before {
  content: "\e96b";
}
.ea-discord:before {
  content: "\e96c";
}
.ea-discourse:before {
  content: "\e96d";
}
.ea-dochub:before {
  content: "\e96e";
}
.ea-docker:before {
  content: "\e96f";
}
.ea-draft2digital:before {
  content: "\e970";
}
.ea-dribbble-square:before {
  content: "\e971";
}
.ea-dribbble:before {
  content: "\e972";
}
.ea-dropbox:before {
  content: "\e973";
}
.ea-drupal:before {
  content: "\e974";
}
.ea-dyalog:before {
  content: "\e975";
}
.ea-earlybirds:before {
  content: "\e976";
}
.ea-ebay:before {
  content: "\e977";
}
.ea-edge-legacy:before {
  content: "\e978";
}
.ea-edge:before {
  content: "\e979";
}
.ea-elementor:before {
  content: "\e97a";
}
.ea-ello:before {
  content: "\e97b";
}
.ea-ember:before {
  content: "\e97c";
}
.ea-empire:before {
  content: "\e97d";
}
.ea-envira:before {
  content: "\e97e";
}
.ea-erlang:before {
  content: "\e97f";
}
.ea-ethereum:before {
  content: "\e980";
}
.ea-etsy:before {
  content: "\e981";
}
.ea-evernote:before {
  content: "\e982";
}
.ea-expeditedssl:before {
  content: "\e983";
}
.ea-facebook-f:before {
  content: "\e984";
}
.ea-facebook-messenger:before {
  content: "\e985";
}
.ea-facebook-square:before {
  content: "\e986";
}
.ea-facebook:before {
  content: "\e987";
}
.ea-fantasy-flight-games:before {
  content: "\e988";
}
.ea-fedex:before {
  content: "\e989";
}
.ea-fedora:before {
  content: "\e98a";
}
.ea-figma:before {
  content: "\e98b";
}
.ea-firefox-browser:before {
  content: "\e98c";
}
.ea-firefox:before {
  content: "\e98d";
}
.ea-first-order-alt:before {
  content: "\e98e";
}
.ea-first-order:before {
  content: "\e98f";
}
.ea-firstdraft:before {
  content: "\e990";
}
.ea-flickr:before {
  content: "\e991";
}
.ea-flipboard:before {
  content: "\e992";
}
.ea-fly:before {
  content: "\e993";
}
.ea-font-awesome-alt:before {
  content: "\e994";
}
.ea-font-awesome-flag:before {
  content: "\e995";
}
.ea-font-awesome-logo-full:before {
  content: "\e996";
}
.ea-font-awesome:before {
  content: "\e997";
}
.ea-fonticons-fi:before {
  content: "\e998";
}
.ea-fonticons:before {
  content: "\e999";
}
.ea-fort-awesome-alt:before {
  content: "\e99a";
}
.ea-fort-awesome:before {
  content: "\e99b";
}
.ea-forumbee:before {
  content: "\e99c";
}
.ea-foursquare:before {
  content: "\e99d";
}
.ea-free-code-camp:before {
  content: "\e99e";
}
.ea-freebsd:before {
  content: "\e99f";
}
.ea-fulcrum:before {
  content: "\e9a0";
}
.ea-galactic-republic:before {
  content: "\e9a1";
}
.ea-galactic-senate:before {
  content: "\e9a2";
}
.ea-get-pocket:before {
  content: "\e9a3";
}
.ea-gg-circle:before {
  content: "\e9a4";
}
.ea-gg:before {
  content: "\e9a5";
}
.ea-git-alt:before {
  content: "\e9a6";
}
.ea-git-square:before {
  content: "\e9a7";
}
.ea-git:before {
  content: "\e9a8";
}
.ea-github-alt:before {
  content: "\e9a9";
}
.ea-github-square:before {
  content: "\e9aa";
}
.ea-github:before {
  content: "\e9ab";
}
.ea-gitkraken:before {
  content: "\e9ac";
}
.ea-gitlab:before {
  content: "\e9ad";
}
.ea-gitter:before {
  content: "\e9ae";
}
.ea-glide-g:before {
  content: "\e9af";
}
.ea-glide:before {
  content: "\e9b0";
}
.ea-gofore:before {
  content: "\e9b1";
}
.ea-goodreads-g:before {
  content: "\e9b2";
}
.ea-goodreads:before {
  content: "\e9b3";
}
.ea-google-drive:before {
  content: "\e9b4";
}
.ea-google-pay:before {
  content: "\e9b5";
}
.ea-google-play:before {
  content: "\e9b6";
}
.ea-google-plus-g:before {
  content: "\e9b7";
}
.ea-google-plus-square:before {
  content: "\e9b8";
}
.ea-google-plus:before {
  content: "\e9b9";
}
.ea-google-wallet:before {
  content: "\e9ba";
}
.ea-google:before {
  content: "\e9bb";
}
.ea-gratipay:before {
  content: "\e9bc";
}
.ea-grav:before {
  content: "\e9bd";
}
.ea-gripfire:before {
  content: "\e9be";
}
.ea-grunt:before {
  content: "\e9bf";
}
.ea-guilded:before {
  content: "\e9c0";
}
.ea-gulp:before {
  content: "\e9c1";
}
.ea-hacker-news-square:before {
  content: "\e9c2";
}
.ea-hacker-news:before {
  content: "\e9c3";
}
.ea-hackerrank:before {
  content: "\e9c4";
}
.ea-hips:before {
  content: "\e9c5";
}
.ea-hire-a-helper:before {
  content: "\e9c6";
}
.ea-hive:before {
  content: "\e9c7";
}
.ea-hooli:before {
  content: "\e9c8";
}
.ea-hornbill:before {
  content: "\e9c9";
}
.ea-hotjar:before {
  content: "\e9ca";
}
.ea-houzz:before {
  content: "\e9cb";
}
.ea-html5:before {
  content: "\e9cc";
}
.ea-hubspot:before {
  content: "\e9cd";
}
.ea-ideal:before {
  content: "\e9ce";
}
.ea-imdb:before {
  content: "\e9cf";
}
.ea-innosoft:before {
  content: "\e9d0";
}
.ea-instagram-square:before {
  content: "\e9d1";
}
.ea-instagram:before {
  content: "\e9d2";
}
.ea-instalod:before {
  content: "\e9d3";
}
.ea-intercom:before {
  content: "\e9d4";
}
.ea-internet-explorer:before {
  content: "\e9d5";
}
.ea-invision:before {
  content: "\e9d6";
}
.ea-ioxhost:before {
  content: "\e9d7";
}
.ea-itch-io:before {
  content: "\e9d8";
}
.ea-itunes-note:before {
  content: "\e9d9";
}
.ea-itunes:before {
  content: "\e9da";
}
.ea-java:before {
  content: "\e9db";
}
.ea-jedi-order:before {
  content: "\e9dc";
}
.ea-jenkins:before {
  content: "\e9dd";
}
.ea-jira:before {
  content: "\e9de";
}
.ea-joget:before {
  content: "\e9df";
}
.ea-joomla:before {
  content: "\e9e0";
}
.ea-js-square:before {
  content: "\e9e1";
}
.ea-js:before {
  content: "\e9e2";
}
.ea-jsfiddle:before {
  content: "\e9e3";
}
.ea-kaggle:before {
  content: "\e9e4";
}
.ea-keybase:before {
  content: "\e9e5";
}
.ea-keycdn:before {
  content: "\e9e6";
}
.ea-kickstarter-k:before {
  content: "\e9e7";
}
.ea-kickstarter:before {
  content: "\e9e8";
}
.ea-korvue:before {
  content: "\e9e9";
}
.ea-laravel:before {
  content: "\e9ea";
}
.ea-lastfm-square:before {
  content: "\e9eb";
}
.ea-lastfm:before {
  content: "\e9ec";
}
.ea-leanpub:before {
  content: "\e9ed";
}
.ea-less:before {
  content: "\e9ee";
}
.ea-line:before {
  content: "\e9ef";
}
.ea-linkedin-in:before {
  content: "\e9f0";
}
.ea-linkedin:before {
  content: "\e9f1";
}
.ea-linode:before {
  content: "\e9f2";
}
.ea-linux:before {
  content: "\e9f3";
}
.ea-lyft:before {
  content: "\e9f4";
}
.ea-magento:before {
  content: "\e9f5";
}
.ea-mailchimp:before {
  content: "\e9f6";
}
.ea-mandalorian:before {
  content: "\e9f7";
}
.ea-markdown:before {
  content: "\e9f8";
}
.ea-mastodon:before {
  content: "\e9f9";
}
.ea-maxcdn:before {
  content: "\e9fa";
}
.ea-mdb:before {
  content: "\e9fb";
}
.ea-medapps:before {
  content: "\e9fc";
}
.ea-medium-m:before {
  content: "\e9fd";
}
.ea-medium:before {
  content: "\e9fe";
}
.ea-medrt:before {
  content: "\e9ff";
}
.ea-meetup:before {
  content: "\ea00";
}
.ea-megaport:before {
  content: "\ea01";
}
.ea-mendeley:before {
  content: "\ea02";
}
.ea-microblog:before {
  content: "\ea03";
}
.ea-microsoft:before {
  content: "\ea04";
}
.ea-mix:before {
  content: "\ea05";
}
.ea-mixcloud:before {
  content: "\ea06";
}
.ea-mixer:before {
  content: "\ea07";
}
.ea-mizuni:before {
  content: "\ea08";
}
.ea-modx:before {
  content: "\ea09";
}
.ea-monero:before {
  content: "\ea0a";
}
.ea-napster:before {
  content: "\ea0b";
}
.ea-neos:before {
  content: "\ea0c";
}
.ea-nimblr:before {
  content: "\ea0d";
}
.ea-node-js:before {
  content: "\ea0e";
}
.ea-node:before {
  content: "\ea0f";
}
.ea-npm:before {
  content: "\ea10";
}
.ea-ns8:before {
  content: "\ea11";
}
.ea-nutritionix:before {
  content: "\ea12";
}
.ea-octopus-deploy:before {
  content: "\ea13";
}
.ea-odnoklassniki-square:before {
  content: "\ea14";
}
.ea-odnoklassniki:before {
  content: "\ea15";
}
.ea-old-republic:before {
  content: "\ea16";
}
.ea-opencart:before {
  content: "\ea17";
}
.ea-openid:before {
  content: "\ea18";
}
.ea-opera:before {
  content: "\ea19";
}
.ea-optin-monster:before {
  content: "\ea1a";
}
.ea-orcid:before {
  content: "\ea1b";
}
.ea-osi:before {
  content: "\ea1c";
}
.ea-page4:before {
  content: "\ea1d";
}
.ea-pagelines:before {
  content: "\ea1e";
}
.ea-palfed:before {
  content: "\ea1f";
}
.ea-patreon:before {
  content: "\ea20";
}
.ea-paypal:before {
  content: "\ea21";
}
.ea-penny-arcade:before {
  content: "\ea22";
}
.ea-perbyte:before {
  content: "\ea23";
}
.ea-periscope:before {
  content: "\ea24";
}
.ea-phabricator:before {
  content: "\ea25";
}
.ea-phoenix-framework:before {
  content: "\ea26";
}
.ea-phoenix-squadron:before {
  content: "\ea27";
}
.ea-php:before {
  content: "\ea28";
}
.ea-pied-piper-alt:before {
  content: "\ea29";
}
.ea-pied-piper-hat:before {
  content: "\ea2a";
}
.ea-pied-piper-pp:before {
  content: "\ea2b";
}
.ea-pied-piper-square:before {
  content: "\ea2c";
}
.ea-pied-piper:before {
  content: "\ea2d";
}
.ea-pinterest-p:before {
  content: "\ea2e";
}
.ea-pinterest-square:before {
  content: "\ea2f";
}
.ea-pinterest:before {
  content: "\ea30";
}
.ea-playstation:before {
  content: "\ea31";
}
.ea-product-hunt:before {
  content: "\ea32";
}
.ea-pushed:before {
  content: "\ea33";
}
.ea-python:before {
  content: "\ea34";
}
.ea-qq:before {
  content: "\ea35";
}
.ea-quinscape:before {
  content: "\ea36";
}
.ea-quora:before {
  content: "\ea37";
}
.ea-r-project:before {
  content: "\ea38";
}
.ea-raspberry-pi:before {
  content: "\ea39";
}
.ea-ravelry:before {
  content: "\ea3a";
}
.ea-react:before {
  content: "\ea3b";
}
.ea-reacteurope:before {
  content: "\ea3c";
}
.ea-readme:before {
  content: "\ea3d";
}
.ea-rebel:before {
  content: "\ea3e";
}
.ea-red-river:before {
  content: "\ea3f";
}
.ea-reddit-alien:before {
  content: "\ea40";
}
.ea-reddit-square:before {
  content: "\ea41";
}
.ea-reddit:before {
  content: "\ea42";
}
.ea-redhat:before {
  content: "\ea43";
}
.ea-renren:before {
  content: "\ea44";
}
.ea-replyd:before {
  content: "\ea45";
}
.ea-researchgate:before {
  content: "\ea46";
}
.ea-resolving:before {
  content: "\ea47";
}
.ea-rev:before {
  content: "\ea48";
}
.ea-rocketchat:before {
  content: "\ea49";
}
.ea-rockrms:before {
  content: "\ea4a";
}
.ea-rust:before {
  content: "\ea4b";
}
.ea-safari:before {
  content: "\ea4c";
}
.ea-salesforce:before {
  content: "\ea4d";
}
.ea-sass:before {
  content: "\ea4e";
}
.ea-schlix:before {
  content: "\ea4f";
}
.ea-scribd:before {
  content: "\ea50";
}
.ea-searchengin:before {
  content: "\ea51";
}
.ea-sellcast:before {
  content: "\ea52";
}
.ea-sellsy:before {
  content: "\ea53";
}
.ea-servicestack:before {
  content: "\ea54";
}
.ea-shirtsinbulk:before {
  content: "\ea55";
}
.ea-shopify:before {
  content: "\ea56";
}
.ea-shopware:before {
  content: "\ea57";
}
.ea-simplybuilt:before {
  content: "\ea58";
}
.ea-sistrix:before {
  content: "\ea59";
}
.ea-sith:before {
  content: "\ea5a";
}
.ea-sketch:before {
  content: "\ea5b";
}
.ea-skyatlas:before {
  content: "\ea5c";
}
.ea-skype:before {
  content: "\ea5d";
}
.ea-slack-hash:before {
  content: "\ea5e";
}
.ea-slack:before {
  content: "\ea5f";
}
.ea-slideshare:before {
  content: "\ea60";
}
.ea-snapchat-ghost:before {
  content: "\ea61";
}
.ea-snapchat-square:before {
  content: "\ea62";
}
.ea-snapchat:before {
  content: "\ea63";
}
.ea-soundcloud:before {
  content: "\ea64";
}
.ea-sourcetree:before {
  content: "\ea65";
}
.ea-speakap:before {
  content: "\ea66";
}
.ea-speaker-deck:before {
  content: "\ea67";
}
.ea-spotify:before {
  content: "\ea68";
}
.ea-squarespace:before {
  content: "\ea69";
}
.ea-stack-exchange:before {
  content: "\ea6a";
}
.ea-stack-overflow:before {
  content: "\ea6b";
}
.ea-stackpath:before {
  content: "\ea6c";
}
.ea-staylinked:before {
  content: "\ea6d";
}
.ea-steam-square:before {
  content: "\ea6e";
}
.ea-steam-symbol:before {
  content: "\ea6f";
}
.ea-steam:before {
  content: "\ea70";
}
.ea-sticker-mule:before {
  content: "\ea71";
}
.ea-strava:before {
  content: "\ea72";
}
.ea-stripe-s:before {
  content: "\ea73";
}
.ea-stripe:before {
  content: "\ea74";
}
.ea-studiovinari:before {
  content: "\ea75";
}
.ea-stumbleupon-circle:before {
  content: "\ea76";
}
.ea-stumbleupon:before {
  content: "\ea77";
}
.ea-superpowers:before {
  content: "\ea78";
}
.ea-supple:before {
  content: "\ea79";
}
.ea-suse:before {
  content: "\ea7a";
}
.ea-swift:before {
  content: "\ea7b";
}
.ea-symfony:before {
  content: "\ea7c";
}
.ea-teamspeak:before {
  content: "\ea7d";
}
.ea-telegram-plane:before {
  content: "\ea7e";
}
.ea-telegram:before {
  content: "\ea7f";
}
.ea-tencent-weibo:before {
  content: "\ea80";
}
.ea-the-red-yeti:before {
  content: "\ea81";
}
.ea-themeco:before {
  content: "\ea82";
}
.ea-themeisle:before {
  content: "\ea83";
}
.ea-think-peaks:before {
  content: "\ea84";
}
.ea-tiktok:before {
  content: "\ea85";
}
.ea-trade-federation:before {
  content: "\ea86";
}
.ea-trello:before {
  content: "\ea87";
}
.ea-tumblr-square:before {
  content: "\ea88";
}
.ea-tumblr:before {
  content: "\ea89";
}
.ea-twitch:before {
  content: "\ea8a";
}
.ea-twitter-square:before {
  content: "\ea8b";
}
.ea-twitter:before {
  content: "\ea8c";
}
.ea-typo3:before {
  content: "\ea8d";
}
.ea-uber:before {
  content: "\ea8e";
}
.ea-ubuntu:before {
  content: "\ea8f";
}
.ea-uikit:before {
  content: "\ea90";
}
.ea-umbraco:before {
  content: "\ea91";
}
.ea-uncharted:before {
  content: "\ea92";
}
.ea-uniregistry:before {
  content: "\ea93";
}
.ea-unity:before {
  content: "\ea94";
}
.ea-unsplash:before {
  content: "\ea95";
}
.ea-untappd:before {
  content: "\ea96";
}
.ea-ups:before {
  content: "\ea97";
}
.ea-usb:before {
  content: "\ea98";
}
.ea-usps:before {
  content: "\ea99";
}
.ea-ussunnah:before {
  content: "\ea9a";
}
.ea-vaadin:before {
  content: "\ea9b";
}
.ea-viacoin:before {
  content: "\ea9c";
}
.ea-viadeo-square:before {
  content: "\ea9d";
}
.ea-viadeo:before {
  content: "\ea9e";
}
.ea-viber:before {
  content: "\ea9f";
}
.ea-vimeo-square:before {
  content: "\eaa0";
}
.ea-vimeo-v:before {
  content: "\eaa1";
}
.ea-vimeo:before {
  content: "\eaa2";
}
.ea-vine:before {
  content: "\eaa3";
}
.ea-vk:before {
  content: "\eaa4";
}
.ea-vnv:before {
  content: "\eaa5";
}
.ea-vuejs:before {
  content: "\eaa6";
}
.ea-watchman-monitoring:before {
  content: "\eaa7";
}
.ea-waze:before {
  content: "\eaa8";
}
.ea-weebly:before {
  content: "\eaa9";
}
.ea-weibo:before {
  content: "\eaaa";
}
.ea-weixin:before {
  content: "\eaab";
}
.ea-whatsapp-square:before {
  content: "\eaac";
}
.ea-whatsapp:before {
  content: "\eaad";
}
.ea-whmcs:before {
  content: "\eaae";
}
.ea-wikipedia-w:before {
  content: "\eaaf";
}
.ea-windows:before {
  content: "\eab0";
}
.ea-wix:before {
  content: "\eab1";
}
.ea-wizards-of-the-coast:before {
  content: "\eab2";
}
.ea-wodu:before {
  content: "\eab3";
}
.ea-wolf-pack-battalion:before {
  content: "\eab4";
}
.ea-wordpress-simple:before {
  content: "\eab5";
}
.ea-wordpress:before {
  content: "\eab6";
}
.ea-wpbeginner:before {
  content: "\eab7";
}
.ea-wpexplorer:before {
  content: "\eab8";
}
.ea-wpforms:before {
  content: "\eab9";
}
.ea-wpressr:before {
  content: "\eaba";
}
.ea-xbox:before {
  content: "\eabb";
}
.ea-xing-square:before {
  content: "\eabc";
}
.ea-xing:before {
  content: "\eabd";
}
.ea-y-combinator:before {
  content: "\eabe";
}
.ea-yahoo:before {
  content: "\eabf";
}
.ea-yammer:before {
  content: "\eac0";
}
.ea-yandex-international:before {
  content: "\eac1";
}
.ea-yandex:before {
  content: "\eac2";
}
.ea-yarn:before {
  content: "\eac3";
}
.ea-yelp:before {
  content: "\eac4";
}
.ea-yoast:before {
  content: "\eac5";
}
.ea-youtube-square:before {
  content: "\eac6";
}
.ea-youtube:before {
  content: "\eac7";
}
.ea-zhihu:before {
  content: "\eac8";
}
